name: release-please

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  release-please:
    runs-on: ubuntu-24.04
    if: github.repository == 'sushichan044/sidetable'
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          permission-contents: write
          permission-pull-requests: write
          permission-issues: write

      # TODO: switch to official action when https://github.com/googleapis/release-please/pull/2627 is merged and released
      - uses: Fanzzzd/release-please-action@release-with-force-tag
        id: release
        with:
          token: ${{ steps.app-token.outputs.token }}
